.card{

    background:white;

    border-radius:12px;

    padding:25px;

    cursor:pointer;

    box-shadow:0 6px 18px rgba(0,0,0,.08);

    transition:.3s;

}

.card:hover{

    transform:translateY(-8px);

    box-shadow:0 12px 28px rgba(0,0,0,.18);

}

.card h2{

    font-size:34px;

    margin-bottom:10px;

}

.card h3{

    color:#555;

}